<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Util - COmpartilhamento nas redes sociais</title>
</head>
<body>
  <p>Ferramenta para gerar links: <a href="http://www.sharelinkgenerator.com/">sharelinkgenerator</a></p>
  <p>Como gerar compartilhamento Whatsap: <a href="https://ajuda.fastcommerce.com.br/como-inserir-link-para-compartilhar-um-produto-pelo-whatsapp">Whatsapp</a></p>
  <p>

  </p>
  <ul>
    <li><a href="mailto:?subject=Conheça AgroStart&body=Acesse http://www.agenciarn.com.br" target="_blank">E-mail</a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.agenciarn.com.br" target="_blank">Facebook</a></li>
    <li><a href="https://twitter.com/home?status=Conhe%C3%A7a%20o%20programa%20Inscreva-se%3A%0Ahttp%3A//www.agenciarn.com.br" target="_blank">Twitter</a></li>
    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.agenciarn.com.br&title=Conhe%C3%A7a%20o%20programa%20AgroStart.&summary=%20Inscreva-se%3A&source=" target="_blank">Linkedin</a></li>
    <li><a href="https://plus.google.com/share?url=http%3A//www.agenciarn.com.br" target="_blank">Google Plus</a></li>
    <li><a href="whatsapp://send?text=Acesse: http%3A//www.agenciarn.com.br" target="_blank">Whatsapp</a></li>
  </ul>
</body>
</html>
