/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  background: #2f5657;
  height: 100vh;
}

/* line 14, ../sass/screen.scss */
.container {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* line 23, ../sass/screen.scss */
.container .col-left {
  position: relative;
  width: 30%;
  max-width: 300px;
  float: left;
  box-sizing: border-box;
  margin: 60px 20px 20px;
  z-index: 10;
}
/* line 32, ../sass/screen.scss */
.container .col-left .tab {
  margin: 0 0 20px;
  color: #fff;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
/* line 39, ../sass/screen.scss */
.container .col-left .tab.active {
  color: #a88d75;
  font-size: 20px;
}
/* line 46, ../sass/screen.scss */
.container .col-right {
  width: 69%;
  float: right;
  box-sizing: border-box;
}
/* line 51, ../sass/screen.scss */
.container .col-right img {
  width: 100%;
  max-width: 100%;
}
/* line 58, ../sass/screen.scss */
.container .col-right .content-imgs .img {
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/* line 64, ../sass/screen.scss */
.container .col-right .content-imgs .img[position='1'] {
  position: absolute;
  top: 100px;
  left: 630px;
  width: 493px;
  height: 329px;
  z-index: 6;
}
/* line 73, ../sass/screen.scss */
.container .col-right .content-imgs .img[position='2'] {
  position: absolute;
  top: 220px;
  left: 190px;
  width: 330px;
  height: 220px;
  opacity: 0.19;
  z-index: 5;
}
/* line 83, ../sass/screen.scss */
.container .col-right .content-imgs .img[position='3'] {
  position: absolute;
  width: 319px;
  height: 212px;
  opacity: 0.23;
  top: 469px;
  left: 900px;
  z-index: 4;
}
/* line 93, ../sass/screen.scss */
.container .col-right .content-imgs .img[position='4'] {
  position: absolute;
  top: 516px;
  width: 192px;
  height: 128px;
  opacity: 0.17;
  left: 215px;
  z-index: 3;
}
/* line 103, ../sass/screen.scss */
.container .col-right .content-imgs .img[position='5'] {
  position: absolute;
  top: 310px;
  left: -80px;
  width: 296px;
  height: 231px;
  opacity: 0.17;
  z-index: 2;
}
/* line 113, ../sass/screen.scss */
.container .col-right .content-imgs .img[position='6'] {
  position: absolute;
  width: 348px;
  opacity: 0.14;
  top: 300px;
  left: 89%;
  z-index: 1;
}
/* line 123, ../sass/screen.scss */
.container .col-right .content-tab {
  color: #FFF;
  display: none;
  z-index: 10;
  line-height: 1.4;
}
/* line 129, ../sass/screen.scss */
.container .col-right .content-tab h1 {
  position: relative;
  margin: 0 0 20px;
  font-size: 30px;
  z-index: 10;
}
/* line 136, ../sass/screen.scss */
.container .col-right .content-tab.active {
  display: block;
}
