<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Drag and Drop com JQuery</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <hgroup>
      <h1>Drag & Drop com JQuery</h1>
      <h2>http://www.dropzonejs.com/</h2>
    </hgroup>

    <form action="" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
    </form>

    <script src="js/dropzone.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
