// Carta do baralho
.geral {
	width: 200px;
	height: 293px;
	position: relative;
	margin:10% auto 0;
	-webkit-perspective: 500;

  .carta {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;

    &:hover {
      -webkit-transform: rotateY(-180deg);
    }

    figure {
      margin:0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;

      &.atras{-webkit-transform: rotateY(180deg);}
    }
  }
}

// Cubo
.container {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  position: relative;
  perspective: 1000px;

  #cube {
	-webkit-transition: all .5s;
	        transition: all .5s;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
	transform: rotateY(0) translateZ(0);

    figure {
      margin: 0;
      width: 196px;
      height: 196px;
      display: block;
      position: absolute;
      border: 2px solid black;
    }

	&.vertical {
  	  .front  { transform: rotateY(   0deg ) translateZ( 100px ); background-color: #4db6ac;}
      .bottom { transform: rotateX( -90deg ) translateZ( 100px ); background-color: #ffb74d;}

  	  &:hover {
  		  transform: rotateX(90deg) translateZ(0);
  	  }
    }

    &.horizontal {
  	  .front  { transform: rotateY(   0deg ) translateZ( 100px ); background-color: #ce93d8;}
  	  .right  { transform: rotateY(  90deg ) translateZ( 100px ); background-color: #4db6ac;}

  	  &:hover {
  		  transform: rotateY(-90deg) translateZ(0);
  	  }
    }
  }

}
