.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
    "header header header header"
    "main main main sidenav"
    "footer footer footer footer";
    height: 100%;
}

.item-1 {
    grid-area: header;
    background: blue;
}
.item-2 {
    grid-area: sidenav;
    background: green;
}
.item-3 {
    grid-area: main;
    background: red;
}
.item-4 {
    grid-area: footer;
    background: gray;
}
