.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

	.menu li {
		display:inline-block;
		padding: 6px;
		border: 1px solid #DDD;
		border-radius: 2px;
		margin-right: 4px;
        border-bottom: 0;
	}

article {
	position: relative;
}

section {
	position: absolute;
	padding: 8px;
	border: 1px solid #DDD;
	border-radius: 2px;
	background: #FFF;
    width: 300px;
	z-index: 0;
}

	section.active {
		z-index: 1;
	}

	/* Target cria a referência do elemento clicado */
	section:target {
		z-index: 2
	}
